<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointments</title>
</head>
<body>
    <h1 class="header">Upcoming Appointments</h1>
    <div class="ctr">
        <ul>
            {% for appointment in appointments %}
                <li><button class="btn btn-info" onclick="location.href='{% url 'patient_check_in' appointment.id appointment.patient %}'"><i class="fa fa-check checkmark" aria-hidden="true"></i> Check In</button> <strong class="align-middle">{{ appointment.time }}</strong></li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>