<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}


    {% block head %}
    <link href="{% static 'css/doctor_welcome.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">

    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    {% endblock %}
    {% block body%}

    <div class="page">
      <!-- Main Navbar-->
      <header class="header">
        <nav class="navbar">

          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <!-- Navbar Header-->
              <div class="navbar-header">
                <!-- Navbar Brand --><a href="#" class="navbar-brand d-none d-sm-inline-block">
                  <div class="brand-text d-none d-lg-inline-block"><span>Dr </span><strong>Chrono</strong></div>
               </a>
              </div>
              <!-- Navbar Menu -->
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                 <li data-toggle="modal" class="nav-item"><a data-toggle="modal" data-target="#exampleModalCenter" href="#" class="nav-link logout"> <span class="d-none d-sm-inline">KIOSK</span><i class="fa fa-sign-out"></i></a></li>
                <!-- Logout    -->
                <li class="nav-item"><a href="{% url 'logout' %}"  class="nav-link logout"> <span class="d-none d-sm-inline">Logout</span><i class="fa fa-sign-out"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

           <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Kiosk Mode</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Please note that to exit from the KIOSK mode you have to use staff unlock !
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-info" onclick="location.href='{% url 'appointments' %}';">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

      <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="{{doctor.doctor_photo}}" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">{{doctor.first_name}} {{doctor.last_name}}</h1>
                    <p>Doctor</p>

            </div>
          </div>
          <ul class="list-unstyled">
               <li><a href="{% url 'dashboard' doctor.id %}"> <i class="fa fa-bar-chart"></i>Today's Appointments</a></li>
            <li class="active"><a href="#"> <i class="icon-home"></i>Charts</a></li>


            </nav>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Dashboard</h2>
            </div>
          </header>

          <section class="dashboard-header">
            <div class="container-fluid">
              <div class="row">

                    <div id='csrf_token_div' style="display: none">
                        {{ csrf_token }}
                    </div>

                   <div id='doctor_id_div' style="display: none">
                       {{ doctor.id }}
                    </div>

        </div>
      </div>

              <section class="charts">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-8">
                  <div class="line-chart-example card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Average patient wait time statistics</h3>
                    </div>
                    <div class="card-body">
                      <canvas id="lineChartExample"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              </section>


 {% endblock%}






















