# Get your tokens from the drchrono.com website under Account->API

SOCIAL_AUTH_CLIENT_ID=ZeRDDZRgWlGPzWuh8iD9QQBW0oHchDl4IGtJ4pyK
SOCIAL_AUTH_SECRET=26LZkGY0wCMlPkMMk45kO7fQEl0vrNm0Fm3hDhVaZmP0UAQ6cgYGcMqeUgC6gmNyXAinJu0LvOwoXVrmbAMWQaUmZsBPGDvn0fGbo5nxjsrQjIIywpc6DneNhCucx8MF
